@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

span{
  cursor: pointer;
  font-weight: bold;
}

.section{
  gap: .5rem;
  height: 88vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}